<!DOCTYPE html>
<html lang="fi">
  <head>
    <title>Sovellus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d55e8313bb.js" crossorigin="anonymous"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="indexStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
        <nav>
            <ul>
                <li><input type="search" name="search" placeholder="haku"></li>
            </ul>
            <a href="/app/newListing"><i class="fa-solid fa-plus" id="newPost"></i></a>
            <a href="/app/myprofile"><i class="fa-solid fa-circle-user" id="myProfile"></i></a>
           
        </nav>
        <main>
        <header>
            <h2>Syöte</h2>
        </header>
        <section id="listings">

            <% if (data.length) {%>
                <% for(let listing of data) { %>
                    <div class="listing">              
                        <h3><%= listing.tyyppi %>: <%= listing.otsikko %></h3>                          
                    <div>
                        <!--<img class="listingImg" src="../<%= listing.kuva %>" style="width: 100%; height: 300px;">  --> 
                        <img class="listingImg" src="<%= listing.kuva %>" style="width: 100%; height: 300px;">             
                    </div>
                    <p><%= listing.kuvaus %></p>
                    <a href="<%= listing.kayttajaId %>" style="text-decoration: none"><%= listing.nimimerkki %></a>  
                </div>           
                <% } %>
            <% } else { %>
                    <div>listauksia ei löytynyt</div>
                <% } %> 
        </section>
        </main>
    </div>
  </body>
</html>