<!DOCTYPE html>
<html lang="fi">
<head>
    <title>Profiili</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d55e8313bb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="profileStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="profileBox">
        <div class="left">
            <i class="fa-solid fa-circle-user fa-7x"></i>         
        </div>

        <div class="right">
            <h2 id="username"><i class="fa-solid fa-user"></i> <%= nimimerkki %></h2>
            <h3><i class="fa-regular fa-at"></i> <%= sposti %></h3> 
        </div>
    </div>

    <div id="container">
    <section id="listings">
        <% if (listings.length) {%>
            <% for(let listing of listings) { %>
                <div class="listing">              
                    <h3><%= listing.tyyppi %>: <%= listing.otsikko %></h3>                          
                <div>
                    <img class="listingImg" src="<%= listing.kuva %>" style="width: 100%; height: 300px;">  
                                   
                </div>
                <p><%= listing.kuvaus %></p>
                <a href="<%= listing.kayttajaId %>" style="text-decoration: none"><%= listing.nimimerkki %></a>  
            </div>           
            <% } %>
        <% } else { %>
                <div>listauksia ei löytynyt</div>
            <% } %> 
    </div>

    <script src="../app.js"></script>
</body>
</html>